<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bokecc.dwlivedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

<!--     android:extractNativeLibs="true"
        tools:replace="android:extractNativeLibs"-->

    <application
        android:extractNativeLibs="true"
        tools:replace="android:extractNativeLibs"
        android:name="com.bokecc.dwlivedemo.DWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 兼容 Android P -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 引导页 -->
        <activity android:name="com.bokecc.dwlivedemo.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 导航页 -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.PilotActivity"
            android:screenOrientation="portrait" />

        <!-- 直播登录页 -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.LiveLoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="live"
                    android:scheme="cclivevc" />
            </intent-filter>

        </activity>

        <!-- 回放登录页 -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.ReplayLoginActivity"
            android:screenOrientation="portrait" />

        <!-- 扫码页面 -->
        <activity android:name="com.bokecc.dwlivedemo.scan.qr_codescan.MipcaActivityCapture" />

        <!-- 直播观看播放页 -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.LivePlayActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 直播观看播放页（默认文档为大屏，仅适配模版有'文档'的直播间） -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.extra.LivePlayDocActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 直播观看经典播放页（默认文档在下，视频在上） -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.extra.LivePlayClassicActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 直播回放播放页 -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.ReplayPlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 直播回放播放页（默认文档为大屏，仅适配模版有'文档'的直播间） -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.extra.ReplayPlayDocActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 直播回放播放页（在线回放&离线回放，列表切换） -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.extra.ReplayMixPlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 离线回放播放页 -->
        <activity
            android:name="com.bokecc.dwlivedemo.activity.LocalReplayPlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 离线回放播放页 -->

        <activity android:name="com.bokecc.dwlivedemo.activity.DownloadListActivity" />
        <!--离线下载界面-->
        <activity android:name="com.bokecc.dwlivedemo.activity.ImageDetailsActivity" />

    </application>

</manifest>